{% block body %}
    <table>
        <tr>
            <td scope="col">title</td>
            <td scope="col">author</td>
            <td scope="col">created:</td>
            <td scope="col">description</td>
            <td scope="col">photo:</td>
            <td scope="col">summary:</td>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.addedAt|date('Y-m-d') }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.photopath }}</td>
            <td>{{ post.summary }}</td>

        </tr>
        </tbody>
    </table>
    </br>
    </br>

    <div>
        <h1>edit post below!</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <a href="/postlist">Back to list</a>
{% endblock %}